<footer class="footer">
  <div class="footer-inner">

    <div class="footer-links-wrapper">
        <div class="footer-links left">
            <a href="#" class="social x" target="_blank"><img src="{{asset 'icon-x.svg'}}" alt="X icon"></a>
            <a href="#" class="social linkedin" target="_blank"><img src="{{asset 'icon-linkedin.svg'}}" alt="LinkedIn icon"></a>
            <a href="#" class="social instagram" target="_blank"><img src="{{asset 'icon-instagram.svg'}}" alt="Instagram icon"></a>
        </div>

        <div class="footer-links right">

          <div class="col">
              <p>Product</p>
              <a href="#" target="_blank">GalaxyOne Cash</a>
              <a href="#" target="_blank">Galaxy Premium Yield</a>
              <a href="#" target="_blank">GalaxyOne Crypto</a>
              <a href="#" target="_blank">GalaxyOne Brokerage</a>
          </div>

          <div class="col">
              <p>Company</p>
              <a href="#" target="_blank">About</a>
              <a href="#" target="_blank">Insights</a>
              <a href="#" target="_blank">Help Center</a>
          </div>

          <div class="col">
              <p>Legal</p>
              <a href="#" target="_blank">Privacy Notice</a>
              <a href="#" target="_blank">Debit Card</a>
              <a href="#" target="_blank">Privacy Policy</a>
              <a href="#" target="_blank">Terms of Service</a>
              <a href="#" target="_blank">E-Sign Consent</a>
              <a href="#" target="_blank">BSA/AML Program</a>
              <a href="#" target="_blank">Account Agreement </a>
          </div>

        </div>

    </div>

    <div class="footer-logo-wrapper">
      <img src="{{asset 'logo-large-footer.png'}}" alt="GalaxyOne" class="footer-logo" />
    </div>

    <div class="footer-disclosures">
      <p>
        Investing involves risk. Please review our terms and conditions.
      </p>
      <p>
        The GalaxyOne App is owned and operated by GalaxyOne Technology, Inc., a technology service provider that connects users to third-party banking services, securities brokerage services, cryptocurrency services, and other financial services. GalaxyOne Technology, Inc. is not a legal advisor, tax advisor, bank, broker, or financial planner and does not intend to provide you with any legal, tax, banking, financial or investment advice.
      </p>
      <p>
        By using the GalaxyOne platform, you understand the information presented is provided for informational and educational purposes only and agree to our Terms of Use and Privacy Policy. The information provided on this site is not warranted as to the completeness, suitability, accuracy or quality thereof and is subject to change at our discretion at any time without notice.
      </p>
      <p>
        Deposit Account held at Cross River Bank, Member FDIC. Insured up to $250,000.<br/>
        Debit Card issued by Cross River Bank, Member FDIC.
      </p>
      <p>
        Brokerage services provided by FIN2, LLC. FIN2, LLC is a registered broker dealer, member of FINRA and SIPC. See FIN2’s BrokerCheck. GalaxyOne Technology, Inc is not a member of FINRA or SIPC.
      </p>
      <p>
        Cryptocurrency services provided by Paxos Trust Company, LLC, a New York State chartered limited purpose trust company (NMLS #1766787) regulated by the New York State Department of Financial Services. All investing involves risk, including the possible loss of money you invest. Past performance is not a guarantee of future performance. Stock markets are volatile and can fluctuate significantly in response to company, industry, political, regulatory, market, or economic developments, and may result in significant losses. Cryptocurrencies are volatile and highly speculative, and may result in significant losses. Buying, selling, transferring, and holding cryptocurrencies is not regulated in many states, and your cryptocurrency investments are not protected by either FDIC or SIPC. You should carefully consider your financial circumstances and risk tolerance before trading securities and cryptocurrencies. Nothing on this site should be construed as an offer to purchase or sell securities or cryptocurrencies. Mention of any specific stock or cryptocurrency are for illustrative purposes only and not an investment recommendation. You should consult a qualified, licensed advisor before engaging in any transaction.
      </p>
      <p>
        <strong>Brokerage Products:</strong> SIPC INSURED THROUGH FIN2 LLC AND DRIVEWEALTH • NOT FDIC INSURED • NO BANK GUARANTEE • MAY LOSE VALUE<br/>
        <strong>Cryptocurrency Products:</strong> NOT FDIC INSURED • NOT SIPC INSURED • NO BANK GUARANTEE • MAY LOSE VALUE
      </p>
      <p>
        GalaxyOne Debit Cards issued by Cross River Bank, member FDIC, pursuant to a license from Mastercard International Incorporated. Fee-free withdrawals at over 55,000+ Allpoint® ATM locations. Fees may apply if you use an ATM outside of the Allpoint® network. To locate a fee-free Allpoint® ATM, visit allpointnetwork.com and filter options within the ATM Locator to allow identification of Surcharge-Free ATMs. Please note that the ATM Locator is reliant upon the financial institution updating their listing with the surcharge-free network. The information provided in the locator is deemed to be reliable but is not guaranteed and is subject to change at any time.
      </p>
      <p>
        1 Interest rates and APYs are variable and subject to change at any time without notice. Interest rates may change as often as daily without prior notice. The APY you receive will always be as stated in the App, with no hidden fees or deductions. Fees may reduce earnings. $500 minimum balance required.
      </p>
      <p>
        2 APY for GalaxyOne Stock is variable and subject to change at any time without notice. APY for GalaxyOne Stock may vary based on security type. Fees may reduce earnings.
      </p>
      <p>
        By clicking on some of the links on the GalaxyOne website, you will leave the GalaxyOne website and be directed to a third-party website. The privacy practices of those third parties may differ from those of GalaxyOne. We recommend you review the privacy statements of those third-party websites, as GalaxyOne is not responsible for those third parties’ privacy or security practices.
      </p>
    </div>

    <p class="footer-copy">
      © 2025 Galaxy. All rights reserved.
    </p>
  </div>
</footer>

